<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Actualizar Tarjeta</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/styles.css') }}">
</head>
<body>
    <h2 style="text-align: center;">Actualizar Tarjeta</h2>
    <form action="/card/update/" method="post">
        <label for="ID">ID de la Tarjeta:</label>
        <input type="number" id="ID" name="ID" required>
        <label for="tipo">ID del usuario:</label>
        <input type="text" id="IDUsuario" name="IDUsuario" required>
        <label for="tipo">ID tipo de tarjeta:</label>
        <input type="text" id="IDTipoTarjeta" name="IDTipoTarjeta" required>

        <button type="submit">Actualizar Tarjeta</button>
    </form>
</body>
</html>
