<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consultar Tipo de Usuarios</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/styles.css') }}">
</head>
<body>
    <h1 style="text-align: center;">Consulta De Tipo de Usuarios</h1>
    <h2>Buscar Tipo de Usuarios</h2>
    <form action="/roluser/consultar" method="get">
            <label for="id">ID:</label>
            <input type="text" id="id" name="id">
            <button type="submit">Buscar</button>
    </form>
    <p><a href="/roluser/rolusers">Ver Todos Los Tipo de Usuarios</a></p>
</body>
</html>