<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consultar Movimientos</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/styles.css') }}">
</head>
<body>
    <h1 style="text-align: center;">Consulta De Movimientos</h1>
    <h2>Buscar Movimientos</h2>
        <form action="/movement/consultar" method="get">
                <label for="nombre">ID:</label>
                <input type="text" id="nombre" name="nombre">
            <button type="submit">Buscar</button>
        </form>
        <p><a href="/movement">Ver Todos Los Movimientos</a></p>
</body>
</html>