<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Crear Usuario</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/styles.css') }}">
</head>
<body>
    <h2 style="text-align: center;">Crear Usuario</h2>
    <div class="container">
      <form action="/user/create" method="post">
        <div class="detail">
          <label for="ID">ID:</label>
          <input type="number" id="ID" name="ID" required>
        </div>
        <div class="detail">
          <label for="Identificacion">Identificacion:</label>
          <input type="number" id="Identificacion" name="Identificacion" required>
        </div>
        <div class="detail">
          <label for="Nombre">Nombre:</label>
          <input type="text" id="Nombre" name="Nombre" required>
        </div>
        <div class="detail">
          <label for="Apellido">Apellido:</label>
          <input type="text" id="Apellido" name="Apellido" required>
        </div>
        <div class="detail">
          <label for="Correo">Correo:</label>
          <input type="text" id="Correo" name="Correo" required>
        </div>
        <div class="detail">
          <label for="Contrasena">Contraseña:</label>
          <input type="text" id="Contrasena" name="Contrasena" required>
        </div>
        <div class="detail">
          <label for="IDRolUsuario">Tipo de Usuario:</label>
          <select id="IDRolUsuario" name="IDRolUsuario">
              <option value="1">Pasajero</option>
              <option value="2">Conductor</option>
              <option value="3">Supervisor</option>
              <option value="4">Mantenimiento</option>
              <option value="5">Administrador</option>
            </select>
        </div>
        <div class="detail">
          <label for="IDTurno">Turno Laboral:</label>
          <select id="IDTurno" name="IDTurno">
              <option value="1">Turno diurno</option>
              <option value="2">Turno nocturno</option>
              <option value="3">Turno vespertino</option>
              <option value="4">Turno matutino</option>
              <option value="5">Turno fijo</option>
              <option value="6">Turno rotativo</option>
              <option value="7">Turno mixto</option>
              <option value="8">Turno de fin de semana</option>
              <option value="9">Ninguno</option>
            </select>
        </div>
          <button type="submit">Crear Usuario</button>
      </form>
  </div>
</body>
</html>
