{% extends "base.html" %}

{% block title %}Eliminar Parada{% endblock %}
{% block header %}Eliminar Parada{% endblock %}
{% block back_url %}/stops{% endblock %}

{% block content %}
<form action="/stops/delete" method="post" class="space-y-4">
    <div>
        <label for="stop_id" class="block text-sm font-medium text-gray-700">ID de la Parada a Eliminar:</label>
        <input type="text" id="stop_id" name="stop_id" required class="w-full border border-gray-300 rounded-lg p-2 mt-1">
    </div>
    <button type="submit" class="w-full bg-red-600 text-white py-2 rounded-lg hover:bg-red-700">
        Eliminar Parada
    </button>
</form>
<div class="mt-6">
    <a href="/stops" class="w-full inline-block text-center bg-gray-600 text-white py-2 px-4 rounded-md hover:bg-gray-700">
        Volver a Listar Paradas
    </a>
</div>
{% endblock %}