{% extends "base.html" %}

{% block title %}Eliminar Incidencia{% endblock %}
{% block header %}Eliminar Incidencia{% endblock %}
{% block back_url %}/incidences{% endblock %}

{% block content %}
<form action="/incidences/delete" method="post" class="space-y-4">
    <div>
        <label for="ID" class="block text-sm font-medium text-gray-700">ID de la Incidencia a Eliminar:</label>
        <input type="number" id="ID" name="ID" required class="w-full border border-gray-300 rounded-lg p-2 mt-1">
    </div>
    <button type="submit" class="w-full bg-red-600 text-white py-2 rounded-lg hover:bg-red-700">
        Eliminar Incidencia
    </button>
</form>
<div class="mt-6">
    <a href="/incidences" class="w-full inline-block text-center bg-gray-600 text-white py-2 px-4 rounded-md hover:bg-gray-700">
        Volver a Listar Incidencias
    </a>
</div>
{% endblock %}