<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Consultar Saldo</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/styles.css') }}">
</head>
<body>
    <h2 style="text-align: center;">Planificacion</h2>
    {% if planif and planif.get('interconexiones') %}
        <table>
            <tr>
                <th>Ruta de Inicio</th>
                <th>Interconexión</th>
                <th>Ruta Final</th>
            </tr>
            {% for interconexion in planif['interconexiones'] %}
            <tr>
                <td>{{ interconexion.ruta_inicio }}</td>
                <td>{{ interconexion.interconexion }}</td>
                <td>{{ interconexion.ruta_final }}</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No se encontraron interconexiones.</p>
    {% endif %}
    <a href="http://127.0.0.1:8000/login/user/pasajero" class="back-button">Volver Atrás</a>
</body>
</html>